@charset "UTF-8";

/* video section style */

.contentContainer.videos {
    grid-auto-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

.grid .contentDiv {
    margin : 0 auto;
}

.contentDiv .videoInformation {
    margin : 0 auto;
    width: 353px;
    padding : 5px 4px 0px 4px;
}

.videoTagContainer {
    padding-top : 8px;
}